In [1]:
import datetime
import pandas as pd
import sys
import yfinance as yf

sys.path.append('..')

In [27]:
ticker = yf.Ticker('0P0000OQVL.F')
# data = ticker.history(start=datetime.datetime(1995,1,1), end=datetime.datetime(2005,12,31))

In [64]:
from private.consts.file_paths import HISTORICAL_DATA_PATH

def prepare_yf_ticker_data(ticker_code='0P0000OQVL.F'):
    ticker = yf.Ticker(ticker_code)
    df = ticker.history(
        start=datetime.datetime(2025,1,1),
        end=datetime.date.today()
    )
    df.index.name = "as_of_date"
    
    df.columns = (
        df.columns
        .str.strip()            # Remove leading/trailing spaces
        .str.lower()             # Convert to lowercase
        .str.replace(' ', '_')   # Replace spaces with underscores
        .str.replace(r'[^\w_]', '', regex=True)  # Remove non-word characters
    )
    
    df.index = pd.to_datetime(df.index)
    df.index = df.index.tz_localize(None)
    df.index = df.index.normalize()
    
    df.to_csv(f"{HISTORICAL_DATA_PATH}/yahoo_finance/{ticker_code}.csv")
    return df

In [65]:
prepare_yf_ticker_data()

,open,high,low,close,volume,dividends,stock_splits,capital_gains
as_of_date,,,,,,,,
2025-01-02,418.510010,418.510010,418.510010,418.510010,0,0.0,0.0,0.0
2025-01-03,422.790009,422.790009,422.790009,422.790009,0,0.0,0.0,0.0
2025-01-06,421.230011,421.230011,421.230011,421.230011,0,0.0,0.0,0.0
2025-01-07,418.109985,418.109985,418.109985,418.109985,0,0.0,0.0,0.0
2025-01-08,417.959991,417.959991,417.959991,417.959991,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
2025-04-15,302.029999,302.029999,302.029999,302.029999,0,0.0,0.0,0.0
2025-04-16,296.670013,296.670013,296.670013,296.670013,0,0.0,0.0,0.0
2025-04-17,299.670013,299.670013,299.670013,299.670013,0,0.0,0.0,0.0
2025-04-22,297.510010,297.510010,297.510010,297.510010,0,0.0,0.0,0.0
2025-04-23,305.980011,305.980011,305.980011,305.980011,0,0.0,0.0,0.0